<!-- BEGIN NavBar -->
<nav class="nav-extended">
  <div class="nav-wrapper blue">
    <a href="/" class="brand-logo center">{{ title }}</a>
    <a data-target="barra-lateral" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>

    <ul class="left hide-on-med-and-down">
      <div *ngIf="user">
        <li>
          <img src="{{ user.photoUrl }}" class="circle responsive-img myCircle">
        </li>
        <li>
          <h6>
            <span class="mySpan">{{ user.name }}</span>
            <span class="mySpan">{{ user.email }}</span>
          </h6>
        </li>
      </div>
    </ul>

    <ul class="right hide-on-med-and-down">
      <div *ngIf="user; else loggedOut">
        <li>
          <a routerLink="/">
            <i class="fas fa-sm fa-home"></i> Inicio 
          </a>
        </li>
        <li>
          <a routerLink="/empleados">
            <i class="fas fa-sm fa-users"></i> Empleados
          </a>
        </li>
        <li>
          <a routerLink="/" (click)="signOut()">
            <i class="fas fa-sm fa-sign-out-alt"></i> Salir
          </a>
        </li>
      </div>
      <ng-template #loggedOut>
        <li>
          <a routerLink="/" (click)="signInWithFacebook()">
            <i class="fab fa-sm fa-facebook"> Facebook</i>
          </a>
        </li>
        <li>
          <a routerLink="/" (click)="signInWithGoogle()">
            <i class="fab fa-sm fa-google"> Google</i>
          </a>
        </li>
  
      </ng-template>
    </ul>

  </div>

  <div class="nav-content blue">

  </div>
</nav>
<!-- END NavBar -->

<!-- BEGIN SideNav -->
<ul class="sidenav" id="barra-lateral">
  <div *ngIf="user">
    <li>
      <img src="{{ user.photoUrl }}" class="circle responsive-img myCircleSmall">
    </li>
    <li>
      <h6>
        <span class="mySpanSmall">{{ user.name }}</span>
        <span class="mySpanSmall">{{ user.email }}</span>
      </h6>
    </li>
    <li class="divider"></li>
  </div>

  <div *ngIf="loggedIn; else loggedOutSideNav">
    <li>
      <a routerLink="/">
        <i class="fas fa-sm fa-home"></i> Inicio
      </a>
    </li>
    <li>
      <a routerLink="/empleados">
        <i class="fas fa-sm fa-users"></i> Empleados
      </a>
    </li>
    <li>
      <a routerLink="/" (click)="signOut()">
        <i class="fas fa-sm fa-sign-out-alt"></i> Salir
      </a>
    </li>
  </div>
  <ng-template #loggedOutSideNav>
    <li>
      <a routerLink="/" (click)="signInWithFacebook()">
        <i class="fab fa-sm fa-facebook"></i> Facebook
      </a>
    </li>
    <li>
      <a routerLink="/" (click)="signInWithGoogle()">
        <i class="fab fa-sm fa-google"></i> Google
      </a>
    </li>
  </ng-template>
</ul>
<!-- END SideNav -->

<router-outlet></router-outlet>